__pycache__/
*.pyc
.env
venv/
.idea/
.vscode/

# Local terraform directories
.terraform/

# .tfstate files (These contain sensitive data and should not be in Git)
terraform/*.tfstate
*.tfstate.*
*.tfstate

# Crash logs and temporary files
*.clog
.terraform.lock.hcl
